{
    "command_prefix": "!",
    "moderator_channel": "moderation-logs",
    "support_channel": "support",
    "rules_channel": "rules",
    "non_support_channels": [
        "general"
    ],
    "bad_words": [
        "bum",
        "hole"
    ],
    "owners": [
        'Your Discord ID here'
    ],
    "appeal_url": "https://www.google.com",
    "client_id": "",
    "client_secret": "",
    "client_token": ""
}
